# Node
node_modules/
.env

# Editor configs
.vscode/
.vs/

# Build and logs (optional)
dist/
build/
*.log

# System
.DS_Store
Thumbs.db

# Other testing files
testing.mjs

#ref-framing directory
frontend/public/pages

#static pages
*.html
#text file
*.txt