#contact-submit {
    background-color: #4CAF50;
    color: white;
}

#contact-submit:hover {
    background-color: #45a049;
}

#contact-reset {
    background-color: #f44336;
    color: white;
}

#contact-reset:hover {
    background-color: #da190b;
}
