.search-container {
    flex: 1;
    display: flex;
    justify-content: center;
    max-width: 600px;
    margin-left: 15px;
}

.search-input {
    width: 300px;
    padding: 12px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.search-button {
    padding: 8px 15px;
    background-color: #d5c812;
    border: none;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    margin-right: 30px;
    font-weight: 500;
    font-size: large;
}

.search-button ion-icon {
    display: none;
    width: 100%;
    font-size: 1.5rem;

}

.search-history-list {
    position: absolute;
    top: 45px;
    /* below input */
    left: 0;
    width: 200px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style: none;
    margin: 5px 0 0 0;
    padding: 0;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000;
    display: none;
}

.search-history-list li {
    padding: 10px;
    cursor: pointer;
    font-size: 0.95rem;
    border-bottom: 1px solid #eee;
}

.search-history-list li:last-child {
    border-bottom: none;
}

.search-history-list li:hover {
    background-color: #f6f6f6;
}

@media screen and (max-width: 900px) {

    .search-input {
        width: 100%;
        padding: 12px;
    }

    .search-button {
        width: 80px;
        height: 40px;
        border-radius: 0 5px 5px 0;
        padding: 0px;
    }

    .search-button ion-icon {
        display: block;
    }

    .search-button span {
        display: none;
    }
}
